/*@keyframes main{
    0%{
        transform: translateY(700px);
        -webkit-transform: translateY(700px);
        -moz-transform: translateY(700px);
        -ms-transform: translateY(700px);
        -o-transform: translateY(700px);
}
    100%{
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}
}
@keyframes Navbar {
    0%{
        transform: translateX(-700px);
        -webkit-transform: translateX(-700px);
        -moz-transform: translateX(-700px);
        -ms-transform: translateX(-700px);
        -o-transform: translateX(-700px);
}
    100%{
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
}
}*/