@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
:root {
    --text-black: #000000;
    --backgroud-two: #757575;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    position: sticky;
    top: 0px;
    width: 100%;
    border-bottom: 2px solid black;
    z-index: 10;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 33%, rgba(255,105,40,1) 62%, rgba(255,85,0,1) 100%);
}
.navbar,
.navbar-list{
    padding: 20px;
    display: flex;
    align-items: end;
    justify-content: flex-end;
}

.navbar{
    gap: 150px; 
    animation-name: Navbar;
    animation-duration: 2s;
}

.navbar-list{
    gap: 30px;
    list-style-type: none;
}

.navbar-list a{
    color: var(--text-black);
    font-size: 14px;
    text-decoration: none;
}
.navbar-list .active{
    font-weight: 600;
    color: var(--text-black);
}
.logo{
    display: flex;
    height: 40%;
    padding: 20px;
    animation-name: Navbar;
    animation-duration: 2s;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    animation-name: main;
    animation-duration: 2s;
}
#hero{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo2{
    max-width: 30%;
}
.hero-info{
    display: flex;
    flex-direction: column;
}
.hero-info h1, h2{
    font-size: 48px;
    font-weight: 800;
    width: 80%;
    min-width: 500px;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,105,40,1) 58%, rgba(255,85,0,1) 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.hero-info p{
    color: gray;
    font-size: 14px;
    width: 60%;
    font-weight: 700;
}
.links{
    display: flex;
    align-items: center;
    gap: 20px;
}
.link1{
    background-color: black;
    color: white;
    font-weight: 300;
    width: 120px;
    padding: 8px 0;
    text-align: center;
    font-size: 14px;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
}
.link2{
    background-color: white;
    color:black;
    border: #000000 solid;
    font-weight: 300;
    width: 120px;
    padding: 8px 0;
    text-align: center;
    font-size: 14px;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
}
.about-info{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-info p{
    color: #757575;
    font-size: 14px;
}
#benefic-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 30px;
    gap: 25px;
}
.benefic{
    text-align: center;
}
.benefic h3{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,105,40,1) 58%, rgba(255,85,0,1) 100%);
    color: transparent;
    background-clip: text;
}
.benefic p{
    color: gray;
    font-weight: 400;
    font-size: 12px;
}
.language{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,105,40,1) 58%, rgba(255,85,0,1) 100%);
    color: transparent;
    background-clip: text;
}
.language img{
    width: 100px;
    height: 100px;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 40px;
    padding: 60px;
    margin-top: 50px;
    width: 88.3%;
    border-top: #000000 solid;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 33%, rgba(255,105,40,1) 62%, rgba(255,85,0,1) 100%);
}
.footer-link ul{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,105,40,1) 58%, rgba(255,85,0,1) 100%);
    color: transparent;
    background-clip: text;
    font-size: 14px;
    list-style-type: none; 
    text-decoration: none;
    font-weight: 800;
}
.footer-link{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,105,40,1) 58%, rgba(255,85,0,1) 100%);
    color: transparent;
    background-clip: text;
}
footer span{
    font-weight: 800;
}
.title-buy{
    margin-top: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,105,40,1) 58%, rgba(255,85,0,1) 100%);
    color: transparent;
    background-clip: text;
    font-size: 25px;
    font-weight: 900;
}
.buy-container{
    display: flex;
    gap: 150px;
    flex-wrap: wrap;
}
.buypage{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,105,40,1) 58%, rgba(255,85,0,1) 100%);
    color: transparent;
    background-clip: text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 25px;
    gap: 20px;
    margin-top: 20px;
    border: #02050e solid;
}
.buypage-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.btn-add{
    background-color: orange;
    border: none;
    padding: 10px 35px;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}